table{
    border: 5px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 10px
}
tr,td,th{
    border: 2px solid ;
    padding: 10px
}
th{
    background-color: blueviolet;
    color: white;
}
.btn{
    background-color:green;
    color: white;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}
td{
    border-color: white;
}
form{
    border: 2px solid;
    text-align: center;
    padding: 20px;
}
button{
    cursor: pointer;
}